<h1><%= t("Nueva lista de distribución") %></h1>

<% form_for [:admin, @mailing_list] do |f| %>
  <%= render :partial => f %>
  <%= f.submit t("Crear") %>
<% end %>

<%= link_to 'Atrás', admin_mailing_lists_path %>